
CLC_MinesweeperMVC/obj/Debug/CLC_MinesweeperMVC.csproj.CoreCompileInputs.cache
CLC_MinesweeperMVC/.vs/CLC_MinesweeperMVC/v16/.suo
CLC_MinesweeperMVC/bin/CLC_MinesweeperMVC.dll
CLC_MinesweeperMVC/bin/CLC_MinesweeperMVC.pdb
CLC_MinesweeperMVC/obj/Debug/CLC_MinesweeperMVC.csprojAssemblyReference.cache
CLC_MinesweeperMVC/obj/Debug/CLC_MinesweeperMVC.dll
CLC_MinesweeperMVC/obj/Debug/CLC_MinesweeperMVC.pdb
