@using CLC_MinesweeperMVC.Controllers
@using CLC_MinesweeperMVC.Models
@model CLC_MinesweeperMVC.Models.BoardModel
    @{
        ViewBag.Title="BoardPage";
        Layout="~/Views/Shared/_Layout.cshtml";
    }
<script>
    function myFunction() {

        document.getElementById(BoardButtons).style.color = "red";

    }

</script>
<div style="text-align:center">
    @using(Html.BeginForm("OnButtonClick", "Game", FormMethod.Post, new {id = "myForm" })) {
    <table align="center" id="Table" cellspacing="0">
        @{
            var difficulty = ViewBag.Message*7;
            var brdSize = difficulty;
            int count = -1;
            List<CellModel> cllMdl = ViewBag.ButtonList;
        }

            @for(int rw = 0; rw<Model.Size; rw++) {
            <tr>
                @for(int cl = 0; cl<Model.Size; cl++) {
                    count++;
                    var buttonId = count;
                <td>
                    
                    <button name="BoardButtons" style="width:40px; height:40px;background-color:beige" id="@buttonId+" onclick="myFunction" type="submit" value="@count">
                        @foreach(CellModel cll in cllMdl) {
                            if(cll.visited&&Model.grid[rw, cl].live) {

                                <img src="~/Images/bomb.bmp" />

                            }
                            else if(cll.visited&&!Model.grid[rw, cl].live) {
                                <value style="font-family:Stencil; background-color:chartreuse">@Model.grid[rw, cl].liveNeighbors</value>
                            }
                        }
                            <!--<img src="~/Images/checkered_flag.bmp" />-->
                        </button>
                </td>
                }
            </tr>
        }
        
    </table>
     }
</div>
