//@using CLC_MinesweeperMVC.Controllers
//@using CLC_MinesweeperMVC.Models
//@model CLC_MinesweeperMVC.Models.BoardModel
@{
    ViewBag.Title="BoardPage";
    Layout="~/Views/Shared/_Layout.cshtml";
    var ajaxOptions = new AjaxOptions();

    ajaxOptions.HttpMethod="POST";
    ajaxOptions.InsertionMode=InsertionMode.Replace;
    ajaxOptions.UpdateTargetId="boardDetails";

}
@section scripts {
    <script>
        myFunction = function() {
            $.ajax({
                type: "POST",
                url: "OnButtonClick/BoardButtons.ID",
                async: false,
                success: function (msg) {
                    ServiceSucceeded(msg);
                },
                error: function () {
                    return "error";
                }
            })

        }
        function ShowPopup() {
            window.open('/Game/OpenPopup', "PopupWindow", 'width=400px,height=400px,top=150,left=250');
        }
        function ShowFlag() {
            var button = document.getElementsByName("BoardButtons");
            button.innerHTML = '<img src="~/Images/checkered_flag.bmp" style="vertical-align:central" width="20" height="20"/>';
        }
    </script>
}

<div id="boardDetails" style="text-align:center">
    @using(Html.BeginForm("OnButtonClick", "Game", FormMethod.Get, new { id = "myForm" })) {
        <table align="center" id="Table" cellspacing="0">
            @{
                int count = -1;
            }

            @for(int rw = 0; rw<Model.size; rw++) {
                <tr>
                    @for(int cl = 0; cl<Model.size; cl++) {
                        count++;
                        var buttonId = count;
                        <td>

                            <button name="BoardButtons" style="width:35px; height:35px;background-color:lightgrey" id="button" type="submit" value="@count" onclick="myFunction()" onabort="ShowFlag()">

                                @if(Model.grid[rw, cl].visited&&Model.grid[rw, cl].live) {
                                    Model.inPlay=false;
                                    <img src="~/Images/bomb.bmp" width="20" height="20" style="vertical-align:auto" onclick="ShowPopup();"/>


                                }
                                else if(Model.grid[rw, cl].visited&&!Model.grid[rw, cl].live) {
                                    <value style="font-family:Stencil">@Model.grid[rw, cl].liveNeighbors</value>
                                }

                                <!--<img src="~/Images/checkered_flag.bmp" />-->
                            </button>
                        </td>
                    }
                </tr>
            }

        </table>
    }
</div>
<div>
    <p style="text-align:center; font-family:Stencil">Click to select square. Double-Click for Flag!</p>
    <br />
    <button name="Save" style="width:95px; height:55px; background-color:lightgrey" id="saveButton" type="submit" value="Save Game">Save Game</button>
</div>