using CLC_MinesweeperMVC
@model CLC_MinesweeperMVC.Models.BoardModel

@{
    ViewBag.Title = "BoardPage";
}
<title>MineSweep</title>
<div>
    @{
        Html.Partial("_BoardPage", Model);

    }
</div>