
@model List<CLC_MinesweeperMVC.Models.BoardModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MineSweep</title>
</head>
<body>
    <div style="text-align:center">
        @using(Html.BeginForm("Index", "Game", FormMethod.Post)) {
            <table align="center" id="Table" cellspacing="0">
                @{
                    var difficulty = ViewBag.Message*10;
                    var brdSize = difficulty;
                    int count = -1;
                }
                @for(int cl = 0; cl<brdSize; cl++) {
                    <tr>
                   @for(int rw = 0; rw<brdSize; rw++) {
                        count++;
                        <td>
                            <button style="width:50px; height:50px" id="mine" type="submit" name="mine" value=(count+1)>
                                @if(Model[count].btnState) {
                                    <img src="~/Images/ButtonImg.bmp" />
                                }
                                else {
                                    <img src="~/Images/ButtonImgPurple.bmp" />
                                }
                            </button>
                        </td>
                    }
                    </tr>
                }

            </table>
         }
    </div>
</body>
</html>
