
@model CLC_MinesweeperMVC.Models.BoardModel

@{
    ViewBag.Title = "BoardPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>MineSweep</title>
<div>
    @{
        Html.Partial("_BoardPage", Model);

    }
</div>